.App {
  text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   transition: background-color 1s;
}

#quote-box {
  border: 1px;
  box-shadow: 7px 7px 42px 1px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  height: 20%;
  background-color: white;
  opacity: 0.8;
}

#text {
  padding: 10px;
  background-color: white;
  text-align: center;
}

#author {
  color:blue;
}


.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
