.App {
  text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}

#quote-box {
  background-color: white;
}

#text {
  padding: 10px;
  background-color: white;
  text-align: center;
}

#author {
  color:blue;
}
